{% extends 'base.html' %}

{% block page_title %}Password Reset{% endblock %}

{% block page_heading %}Reset Password{% endblock %}
{% block content %}
<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        Request Password Reset 
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body font-white bg-secondary flex-column less-padding-bottom">
                    <form method='POST'>
                    <p>Please enter your e-mail address</p><hr>
                    {% csrf_token %}
                    
                    {{ form.email.errors }}
                    
                    <p>
                        <label for="id_email">Email address:</label>
                        {{ form.email}}
                    </p>
                    <hr>
                    <button class="btn btn-primary floatright font-white btn-sm" type='submit'>Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}