.event_image img {
    max-height: 200px;
    max-width: 200px;
    min-height:200px;
    min-width: 200px;
    margin: auto auto;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border: 2px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border: 2px #000000 solid;
}

.less-padding-bottom{
    padding-bottom: 4px !important
}

.floatright{
    float: right !important    
}

.floatleft{
    float: left !important
}

.no-padding{
    padding: 0px !important;
    max-width: 100% !important;
}

.font-white{
    color: white !important;
}

.no-flex{
    display: block !important;
    border: 0px !important;
    
}

.custom-border{
    border-radius: 0 !important;
    
}

.card-text {
    word-wrap: break-word;
}

.card {
    max-width: 100%;
}


