.event_image img {
    max-height: 200px;
    max-width: 200px;
    min-height:200px;
    min-width: 200px;
    margin: auto auto;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border: 2px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border: 2px #000000 solid;
}