{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
<div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
        <div class="card">
          <img class="card-img-top" src="/media/images/2642KB.jpg" alt="Mare building">
          

          <div class="card-body">
            <h5 class="card-title">Welcome to the Commonhold site for the Mare in Pijnacker</h5>
            <p class="card-text">This site is for all home owners of the Mare Appartment building and 
                where they can find all relevant information and where they can communicate with each other.</p>
            <p class="card-text">If you don't have a login yet, please contact the home owner board to request one.</p>
            <a href="{% url 'SignIn' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Sign in</a>
          </div>
        </div> 
    </div>
</div>
{% endif%}   
{% endblock %}