{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mx-auto col-auto">
            <div class="card" style="width: 56rem;">
                <img class="card-img-top" src="{% static 'images/2642KB.jpg' %}" alt="Mare building">
                <div class="card-body flex-column less-padding-bottom">
                    <h5 class="card-title">Welcome to the Commonhold site for the Mare in Pijnacker</h5>
                    <p class="card-text">This site is for all home owners of the Mare Appartment building and 
                        where they can find all relevant information and where they can communicate with each other.</p>
                    <p class="card-text">If you don't have a login yet, please contact the home owner board to request one.</p>
                    <a href="{% url 'SignIn' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Sign in</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary btn-sm active floatright" role="button" aria-pressed="true">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}