{% extends 'base.html' %}

{% block page_title %}Overview{% endblock %}

{% block page_heading %}Overview{% endblock %}
{% block content %}

<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      Upcoming Events
   </h3>
   <div class="row justify-content-center">
   <div class="col-md-8">
   {% for up in upcoming_events %}
   
         <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
            <div class="card-body d-flex flex-column less-padding-bottom">
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary">{{up.scheduled_date_start|date:"d"}}</span> {{up.scheduled_date_start|date:"b"|title}}</li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{up.scheduled_date_start|date:"D"}}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{up.scheduled_date_start|date:"P"}}</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{up.location}}</li>
                    <li class="list-inline-item"><i class="fa fa-money" aria-hidden="true"></i> {{up.price}}</li>
                    <li class="list-inline-item"><i class="fa fa-hand-o-right"></i> {{up.title|truncatechars:16}}</li>
                    <li class="list-inline-item floatright"><a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'event_detail' up.id %}">details</a></li>
                </ul>
            </div>         
        </div>
   
   {% endfor %}
    </div>
   </div>
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Latest Blog Post <a href="{% url 'new_blog' %}" class="btn btn-primary btn-sm active floatright" role="button" aria-pressed="true">Add new blog</a>
   </h3>
   <div class="row justify-content-center">
      {% for blog in blogs %}
      <div class="col-md-8">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
            <div class="card-body d-flex flex-column less-padding-bottom">
                <strong class="d-inline-block mb-2 text-primary">{{blog.title}}</strong>
                <div class="mb-1 text-muted small">{{blog.published_date}} By: {{blog.author}} </div>
                <p class="card-text mb-auto">{{blog.content|truncatewords:12}}</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'blog_detail' blog.id %}">Continue reading</a>
                <div class="mb-1 text-muted small">
                   <span>comments: </span><span class="badge badge-success">{{ blog.comment_blog.count }}</span>
                   <span class="floatright">views: <span class="badge badge-success">{{blog.views}}</span></span>
                </div>
            </div>
            
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ blog.blog_image }}" style="width: 200px; height: 200px;">
            
         </div>
      </div>
    {% endfor %}
   </div>
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Latest Event <a href="{% url 'new_event' %}" class="btn btn-primary btn-sm active floatright" role="button" aria-pressed="true">Add new event</a>
   </h3>
   <div class="row justify-content-center">
   {% for event in events %}
   <div class="col-md-8">
       <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
           <div class="card-body d-flex flex-column less-padding-bottom">
               <strong class="d-inline-block mb-2 text-primary">{{event.title}}</strong>
               <div class="mb-1 text-muted small">{{event.scheduled_date_start}} By: {{event.author}} </div>
               <p class="card-text mb-auto">{{event.details|truncatewords:12}}</p>
               <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'event_detail' event.id %}">Continue reading</a>
               <div class="mb-1 text-muted small">
                   <span>comments: </span><span class="badge badge-success">{{ event.event_comment_id.count }}</span>
                   <span class="floatright">views: <span class="badge badge-success">{{event.views}}</span></span>
               </div>
           </div>

           <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ event.event_image }}" style="width: 200px; height: 200px;">

       </div>
   </div>
   {% endfor %}
   

</div>

<br>
{% endblock %}