{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Registration{% endblock %}

{% block page_heading %}User Registration{% endblock %}
{% block content %}

<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        Add a User
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body bg-secondary flex-column less-padding-bottom">
                    <div class="row justify-content-center">
                        <div class="col-md-10 mx-auto">
                            <div class="card no-flex flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                                <div class="card-header custom-border font-white bg-dark">Add an User</div>
                                <div class="card-body d-flex flex-column less-padding-bottom">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ register_form | as_bootstrap }}
                                        <button class="btn btn-primary btn-sm active floatright" type="submit">Add User</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}