{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Home Page{% endblock %}

{% block page_heading %}User Login{% endblock %}
{% block content %}
<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        Sign In 
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body font-white bg-secondary flex-column less-padding-bottom">
                    <form method='POST' class="accountform">
                        {% csrf_token %}
                        {{ login_form | as_bootstrap}}
                        <button class="btn btn-primary floatright font-white btn-sm" type='submit'>Login</button>
                        <!--<a class="btn btn-primary floatright font-white btn-sm" role="button" type='submit'>Sign In</a>-->
                    </form>
                    <p><a class="btn btn-primary floatleft font-white btn-sm" href="{% url 'password_reset' %}">I forgot my password</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}