{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card flex-row flex-wrap">
            <div class="card-header event_image border-0">
                <img class="card-img-left" src="{{ MEDIA_URL }}{{ blog.blog_image }}" alt="Card image cap">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">{{blog.title}}</h4><hr>
                <footer class="blockquote-footer">By: {{blog.author}} <cite title="Source Title">on {{blog.published_date}}</cite></footer><hr>
                <p class="card-text">{{blog.content}}</p>
                
            </div>
            <div class="card-footer w-100 text-muted">
                <span>comments:</span>
                <span class="badge badge-success">{{ blog.comment_blog.count }}</span>
                <span class="pull-right">
                    {% if thumb  %}
                        <a href="{% url 'blog' blog.id%}"><i class="fa fa-thumbs-o-down"></i></a>
                    {% else %}
                        <a href="{% url 'blog_like' blog.id%}"><i class="fa fa-thumbs-o-up"></i></a>
                    {% endif %}
                <span class="badge badge-success">{{likes.count}}</span>
                </span><br>
            </div>
        
        </div>
    </div>
    <br>
{% endblock %}