{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        Blog Details
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body card-text card d-flex flex-column less-padding-bottom">
                    <strong class="d-flex justify-content-between mb-2 text-primary">{{blog.title}}
                    {% if user.is_authenticated and user == blog.author or user.is_superuser %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm login-btn new-post buy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a id='blog_links' href="{% url 'edit_blog' blog.id %}">Edit Blog</a></li>
                            <li><a id='blog_links' href="{% url 'delete_blog' blog.id %}">Delete Blog</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    </strong>
                    <div class="mb-1 text-muted small">Author: {{blog.author}}</div>
                    <div class="mb-1 text-muted small">Published: {{blog.published_date}}</div>
                    <br>
                    <p class="card-text mb-auto">{{blog.content}}</p>
                    <br>
                    <div class="mb-1 text-muted small">
                        <span class="floatleft">views: <span class="badge badge-success">{{blog.views}}</span></span>
                        <span class="floatright">
                        {% if thumb  %}
                            <a class="text-muted" href="{% url 'blog_like' blog.id%}"> Dislike <i class="fa fa-thumbs-o-up"></i></a>
                        {% else %}
                            <a class="text-muted" href="{% url 'blog_like' blog.id%}"> Like <i class="fa fa-thumbs-o-up"></i></a>
                        {% endif %}
                        <span class="badge badge-success">{{likes.count}}</span></span>
                    </div>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ blog.blog_image }}" style="width: 200px; height: 200px;">
            
            </div>
            <div class="col-md-8 no-padding">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">Post a Comment</strong>
                    <form method="POST" action="{% url 'blogpost_comment' blog.id%}" enctype="multipart/form-data">
                        {% csrf_token %} {{ comment_form | as_bootstrap }}
                        <button type="submit" class="btn btn-info">Post</button>
                    </form>
                </div>
            </div>
            </div>
            {% for comment in comments %}
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body card-text card d-flex flex-column less-padding-bottom">
                    <div class="mb-1 text-muted small">Author: {{comment.authorid}} 
                    {% if user.is_authenticated and user == blog.author or user.is_superuser %}
                    <div class="btn-group floatright">
                        <button type="button" class="btn btn-sm login-btn new-post buy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select Action<span class="caret"></span></button>
                        <ul class="dropdown-menu floatright">
                            <li><a id='blogcomment_links' href="{% url 'delete_blog_comment' comment.id %}">Delete Comment</a></li>
                        </ul>
                    </div>
                    {% endif %}</div>
                    <div class="mb-1 text-muted small">Published: {{comment.created_date}}</div>
                    
                    <br>
                    <p class="card-text mb-auto">{{comment.blog_comment}}</p>
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}