{% extends 'base.html' %} {% load static from staticfiles %} {% load crispy_forms_tags %} {% block content %}
{% if total > 0 %}
<div class="row">
   <div class="col-auto mx-auto">
        <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'get_events' %}">Continue Selecting Events</a>
    </div>
</div>
{% endif %}

<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        Cart Contents
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body bg-secondary flex-column less-padding-bottom">
                {% for item in cart_items %}
                <div class="row justify-content-center">
                    <div class="col-auto mx-auto">
                        <div class="card  no-flex flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                            <div class="card-header custom-border font-white bg-dark">
                                <i class="fa fa-hand-o-right"></i> {{item.event.title|truncatechars:16}}</li>
                            </div>
                            <div class="card-body d-flex flex-column less-padding-bottom">
                                <ul class="list-inline">
                                    
                                    <li class="list-inline-item">Starts at: <span class="badge badge-primary">{{item.event.scheduled_date_start|date:"d"}}</span> {{item.event.scheduled_date_start|date:"b"|title}}</li>
                                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{item.event.scheduled_date_start|date:"D"}}</li>
                                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{item.event.scheduled_date_start|date:"P"}}</li>
                                    <hr>
                                    <li class="list-inline-item">Ends at: <span class="badge badge-primary">{{item.event.scheduled_date_end|date:"d"}}</span> {{item.event.scheduled_date_end|date:"b"|title}}</li>
                                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{item.event.scheduled_date_end|date:"D"}}</li>
                                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{item.event.scheduled_date_end|date:"P"}}</li>
                                    <hr>
                                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Location:  {{item.event.location}}</li>
                                    <hr>
                                    <li class="list-inline-item"><i class="fa fa-money" aria-hidden="true"></i> Price per Person: {{item.event.price}}</li><hr>
                                    
                                    <li class="list-inline-item">
                                    <form method="post" action="{% url 'adjust_cart' item.id %}" class="float-right">
                                    {% csrf_token %}
                                    <div class="form-group no-margin">
                                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend"><span class="input-group-text">Qty</span></div>
                                            <input name="quantity" type="number" min="0" max="999" class="form-control qty-field" value="{{item.quantity}}">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-info">Adjust</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    </li>
                                    
                                </ul>
                            </div>         
                        </div>
                    </div>
                </div>
                <div class="floatright">
                    <form method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <button type="submit" name="quantity" value="0" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <br>
                <br>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-auto mx-auto">
        <div class="input-group input-group-sm border-red hard-borderradius">
            <div class="input-group-prepend">
                <span class="input-group-text">Total: </span>
            </div>
            <div class="input-group-prepend">
                <span class="input-group-text">&euro; {{ total }} </span>
            </div>
            <div class="input-group-append">
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button">
                <i class="fa fa-money"></i> Proceed to checkout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
