{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<!-- The Joiner Modal -->
<div class="modal" id="myModalJoiners">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Users who said they will join</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {% for join in joins %}
        {{join.EventJoinBy}}<br>
        {% endfor%}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="container">
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Event Details
   </h3>
   <div class="row justify-content-center">
      
      <div class="col-md-8">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
            <div class="card-body d-flex flex-column less-padding-bottom">
                <strong class="d-inline-block mb-2 text-primary">{{event.title}}</strong>
                <div class="mb-1 text-muted small">Location: {{event.location}}</div>
                <div class="mb-1 text-muted small">Starts: {{event.scheduled_date_start}}</div>
                <div class="mb-1 text-muted small">Ends: {{event.scheduled_date_end}}</div>
                <div class="mb-1 text-muted small">Price per person: {{event.price}}</div>
                <div class="mb-1 text-muted small">Organizer: {{event.author}}</div>
                <br>
                <p class="card-text mb-auto">{{event.details}}</p>
                {% if event.price < 0.1 %}
                    {% if jointhumb  %}
                        <a href="{% url 'event_join' event.id %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">Withdraw Presence</a>
                    {% else %}
                        <a href="{% url 'event_join' event.id %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">I'll be Present</a>
                {% endif %}    
                {% else %}
                    <a href="{% url 'add_to_cart' event.id %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">Subscribe</a>
                {% endif %}
                <br>
                <div class="d-flex justify-content-between mb-1 text-muted small">
                    <span class="floatleft">views: <span class="badge badge-success">{{event.views}}</span></span>
                    {% if event.price < 0.1 %}
                    <a data-target="#myModalJoiners" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#myModalJoiners">Joiners: <span class="badge badge-success">{{joins.count}}</span></a>
                    {% endif %}    
                    <span class="floatright">
                    {% if thumb  %}
                        <a href="{% url 'event_like' event.id%}"><i class="fa fa-thumbs-o-down"></i></a>
                    {% else %}
                        <a href="{% url 'event_like' event.id%}"><i class="fa fa-thumbs-o-up"></i></a>
                    {% endif %}
                    <span class="badge badge-success">{{likes.count}}</span></span>
                </div>
            </div>
            
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ event.event_image }}" style="width: 200px; height: 200px;">
            
         </div>
         <div class="col-md-8 no-padding">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">Post a Comment</strong>
                    <form method="POST" action="{% url 'event_comment' event.id%}" enctype="multipart/form-data">
                        {% csrf_token %} {{ comment_form | as_bootstrap }}
                        <button type="submit" class="btn btn-info">Post</button>
                    </form>
                </div>
            </div>
            </div>
         {% for comment in comments %}
            <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
                <div class="card-body d-flex flex-column less-padding-bottom">
                    <div class="mb-1 text-muted small">Author: {{comment.author}}</div>
                    <div class="mb-1 text-muted small">Published: {{comment.created_date}}</div>
                    <br>
                    <p class="card-text mb-auto">{{comment.event_comment}}</p>
                    <br>
                </div>
            </div>
            {% endfor %}
      </div>
    
   </div>
</div>
{% endblock %}