{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Event Details
   </h3>
   <div class="row justify-content-center">
      
      <div class="col-md-8">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
            <div class="card-body d-flex flex-column less-padding-bottom">
                <strong class="d-inline-block mb-2 text-primary">{{event.title}}</strong>
                <div class="mb-1 text-muted small">Location: {{event.location}}</div>
                <div class="mb-1 text-muted small">Starts: {{event.scheduled_date_start}}</div>
                <div class="mb-1 text-muted small">Ends: {{event.scheduled_date_end}}</div>
                <div class="mb-1 text-muted small">Price per person: {{event.price}}</div>
                <div class="mb-1 text-muted small">Organizer: {{event.author}}</div>
                <br>
                <p class="card-text mb-auto">{{event.details}}</p>
                
                <a href="{% url 'add_to_cart' event.id %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">Subscribe</a>
                <br>
                <div class="mb-1 text-muted small">
                    <span class="floatleft">views: <span class="badge badge-success">{{event.views}}</span></span>
                    <span class="floatright">
                    {% if thumb  %}
                        <a href="{% url 'event_like' event.id%}"><i class="fa fa-thumbs-o-down"></i></a>
                    {% else %}
                        <a href="{% url 'event_like' event.id%}"><i class="fa fa-thumbs-o-up"></i></a>
                    {% endif %}
                    <span class="badge badge-success">{{likes.count}}</span></span>
                </div>
            </div>
            
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ event.event_image }}" style="width: 200px; height: 200px;">
            
         </div>
      </div>
    
   </div>
</div>
{% endblock %}