{% extends 'base.html' %}
{% block content %}
<div class="container">
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Upcoming Events <a href="{% url 'new_event' %}" class="btn btn-primary btn-sm active floatright" role="button" aria-pressed="true">Add new event</a>
   </h3>
   <div class="row">
      {% for event in events %}
      <div class="col-md-6">
         <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-light">
            <div class="card-body card-text card d-flex flex-column less-padding-bottom">
                <strong class="d-inline-block mb-2 text-primary">{{event.title}}</strong>
                <div class="mb-1 text-muted small">{{event.scheduled_date_start}} By: {{event.author}} </div>
                <p class="card-text mb-auto">{{event.details|truncatewords:12}}</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'event_detail' event.id %}">Continue reading</a>
                <div class="mb-1 text-muted small">
                   <span>comments: </span><span class="badge badge-success">{{ event.event_comment_id.count }}</span>
                   <span class="floatright">views: <span class="badge badge-success">{{event.views}}</span></span>
                </div>
            </div>
            
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{ MEDIA_URL }}{{ event.event_image }}" style="width: 200px; height: 200px;">
            
         </div>
      </div>
    {% endfor %}
   </div>
</div>
{% endblock %}